<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">sdShopEnvironment</label>
    <label lang="en">sdShopEnvironment</label>
    <version>1.11.3</version>
    <copyright>(c) solutionDrive GmbH</copyright>
    <license>proprietary</license>
    <link>http://store.shopware.com</link>
    <author>solutionDrive GmbH</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Shopware 5.5 Support</changes>
        <changes lang="en">Adds shopware 5.5 support</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="de">Beheben eines Fehlers beim Theme-Konfiguration laden</changes>
        <changes lang="en">Fix a theme-config loading error</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="de">Versand- und Zahlungsarten Support</changes>
        <changes lang="en">Shipping- and payment method support</changes>
    </changelog>
    <changelog version="1.3.0">
        <changes lang="de">Dokumentensupport</changes>
        <changes lang="en">Document support</changes>
    </changelog>
    <changelog version="1.3.1">
        <changes lang="de">Beheben eines Fehlers bei den Versand- und Zahlungsarten</changes>
        <changes lang="en">Fixes an error with shipping- and payment methods</changes>
    </changelog>
    <changelog version="1.3.2">
        <changes lang="de">Beheben eines Fehlers beim Laden der Konfiguration</changes>
        <changes lang="en">Fixes an error with configuration loading</changes>
    </changelog>
    <changelog version="1.4.0">
        <changes lang="de">Media Manager Support</changes>
        <changes lang="en">Media manager support</changes>
    </changelog>
    <changelog version="1.4.1">
        <changes lang="de">Kategorie Konfiguration Support</changes>
        <changes lang="en">Category configuration support</changes>
    </changelog>
    <changelog version="1.5.0">
        <changes lang="de">Facet Support</changes>
        <changes lang="en">Facet support</changes>
    </changelog>
    <changelog version="1.5.1">
        <changes lang="de">Kategorie 'Sortierungseinstellung' Support</changes>
        <changes lang="en">Category 'sortingsettings' support</changes>
    </changelog>
    <changelog version="1.6.0">
        <changes lang="de">Infrastrukturanpassungen</changes>
        <changes lang="en">Infrastructure changes</changes>
    </changelog>
    <changelog version="1.7.0">
        <changes lang="de">Suchfelder Support</changes>
        <changes lang="en">Searchfields support</changes>
    </changelog>
    <changelog version="1.8.0">
        <changes lang="de">Zahlungsartenregeln Support + Kundengruppen Import</changes>
        <changes lang="en">PaymentRules Support + Customergroups import</changes>
    </changelog>
    <changelog version="1.8.1">
        <changes lang="de">Namespace 'Customer/Group' hinzugefügt</changes>
        <changes lang="en">Add 'Customer/Group' namespace</changes>
    </changelog>
    <changelog version="1.9.0">
        <changes lang="de">Voller Kategorie Support</changes>
        <changes lang="en">Full category support</changes>
    </changelog>
    <changelog version="1.10.0">
        <changes lang="de">Möglichkeit hinzugefügt um die Kategorie, Hauptshop und die Sprache eines Shops zu konfigurieren</changes>
        <changes lang="en">Add option to configure category, main shop and locale of a shop.</changes>
    </changelog>
    <changelog version="1.10.1">
        <changes lang="de">Schreibfehler ausgebessert</changes>
        <changes lang="en">Fixed wording</changes>
    </changelog>
    <changelog version="1.11.0">
        <changes lang="de">Möglichkeit hinzugefügt um die Währung und den Fallback eines Shops zu konfigurieren</changes>
        <changes lang="en">Add option to configure currency and fallback</changes>
    </changelog>
    <changelog version="1.11.1">
        <changes lang="de">Fix: Sowohl 'sortings' als auch 'SortingIds' werden unterstützt</changes>
        <changes lang="en">Fix: Support 'sortings' and 'SortingIds'</changes>
    </changelog>
    <changelog version="1.11.2">
        <changes lang="de">Fix: Fehlende Abängigkeit 'symfony/expression-language' hinzugefügt</changes>
        <changes lang="en">Fix: Adds missing dependency 'symfony/expression-language'</changes>
    </changelog>
    <changelog version="1.11.3">
        <changes lang="de">Fix: Entity Namen in kleinbuchstaben umwandeln</changes>
        <changes lang="en">Fix: Entity names converted to lowercase</changes>
    </changelog>
</plugin>
